[submodule "dev-blog-post-api"]
	path = dev-blog-post-api
	url = https://github.com/PierreStephaneVoltaire/dev-blog-post-api.git
[submodule "dev-blog"]
	path = dev-blog
	url = https://github.com/PierreStephaneVoltaire/dev-blog.git
